:root {
  --bg: #0b0b0f;
  --bg-dark: #000000;
  --primary: #facc15;
  --text: #ffffff;
  --muted: #b3b3b3;
}

* {
  margin: 0;
  padding: 0;
}

/* =========================
   GLOBAL STYLES
========================= */

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--text);

  min-height: 200vh;

  overflow-x: hidden;
}

/* =========================
   NAVBAR
========================= */

nav {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--bg-dark);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1000;
}

nav ul {
  display: flex;
  gap: 25px;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #a855f7;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
  background: var(--primary);
}

nav ul li a:hover {
  color: var(--primary);
}

.left {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--primary);
}

/* SECTION */

.firstSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%;
  min-height: 90vh;
  gap: 60px;
}

/* LEFT SIDE */
.leftSection {
  width: 50%;
}

.leftSection h1 {
  font-size: 3rem;
  line-height: 1.3;
  margin-bottom: 10px;
}

#element {
  font-size: 1.8rem;
  display: block;
  margin: 10px 0;
  color: var(--primary);
}

.intro_para {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #d1d1d1;
  margin-top: 15px;
}

.subtitle {
  font-size: 2rem;
  margin: 20px 0;
  font-weight: bold;
}

.leftSection p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--primary);
}

/* NAME COLOR */

.purple {
  color: var(--primary);
}

/* RIGHT SIDE */
.rightSection {
  width: 45%;
  display: flex;
  justify-content: center;
}

.rightSection img {
  width: 100%;
  max-width: 380px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(250, 204, 21, 0.25);
}

/* MOBILE RESPONSIVE */

@media (max-width: 768px) {
  .firstSection {
    flex-direction: column;
    text-align: center;
  }

  .leftSection,
  .rightSection {
    width: 100%;
  }

  .leftSection h1 {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
